@model Saboriza.Models.Usuario

<div class="wrapper">
    <div class="mb-1">
        <label><small class="textRed">* Obrigatório</small></label>
        <br /><br />
        @using (Html.BeginForm("Cadastro", "Usuario", FormMethod.Post, new { @id = "usuario-form", @class = "form-horizontal", @enctype = "multipart/form-data" }))
        {
            <div class="inputGroup mb-2">
                <div class="inputGroup-text-modal col-4 textColor">
                    <label>NOME USUÁRIO<small class="textRed">&nbsp;*</small></label>
                </div>
                @Html.TextBoxFor(model => model.NomeUsuario, new {
                    @class = "customBox col-12",
                    @type = "text",
                    @id = "nome",
                    @required = "required",
                    @oninput = "this.value = this.value.toUpperCase()"
                })
            </div>

            <div class="inputGroup mb-2">
                <div class="inputGroup-text-modal col-4 textColor">
                    <label>FUNÇÃO<small class="textRed">&nbsp;*</small></label>
                </div>
                @Html.DropDownListFor(model => model.Role, new SelectList(new List<string> { "USUARIO", "ADMINISTRADOR" }), new {
                    @class = "customBox col-12",
                    @id = "role",
                    @required = "required"
                })
            </div>

            <div class="inputGroup mb-2">
                <div class="inputGroup-text-modal col-4 textColor">
                    <label>CPF<small class="textRed">&nbsp;*</small></label>
                </div>
                @Html.TextBoxFor(model => model.CPF, new {
                    @class = "customBox col-12",
                    @type = "text",
                    @id = "cpfUser"
                })
            </div>

            <div class="inputGroup mb-2">
                <div class="inputGroup-text-modal col-4 textColor">
                    <label>EMAIL<small class="textRed">&nbsp;*</small></label>
                </div>
                @Html.TextBoxFor(model => model.Email, new {
                    @class = "customBox col-12",
                    @type = "text",
                    @id = "emailUser"
                })
            </div>

            <div class="inputGroup mb-2">
                <div class="inputGroup-text-modal col-4 textColor">
                    <label>TELEFONE<small class="textRed">&nbsp;*</small></label>
                </div>
                @Html.TextBoxFor(model => model.Telefone, new {
                    @class = "customBox col-12",
                    @type = "text",
                    @id = "telUser"
                })
            </div>

            <div class="inputGroup mb-2">
                <div class="inputGroup-text-modal col-4 textColor">
                    <label>ENDEREÇO<small class="textRed">&nbsp;*</small></label>
                </div>
                @Html.TextBoxFor(model => model.Endereco, new {
                    @class = "customBox col-12",
                    @type = "text",
                    @id = "addresUser"
                })
            </div>

            <div class="inputGroup mb-2">
                <div class="inputGroup-text-modal col-4 textColor">
                    <label>SENHA PROVISÓRIA</label>
                </div>
                @Html.TextBoxFor(model => model.Senha, new {
                    @class = "customBox col-12",
                    @type = "text",
                    @readonly = "readonly"
                })
            </div>

            <hr />
            <div class="d-flex justify-content-end gap-2 mt-3">
                <a href="@Url.Action("Index", "Usuario")" class="btn2 btn-outline-primary2 px-4">CANCELAR</a>
                <button type="submit" class="btn2 btn-success2 px-4">SALVAR</button>
            </div>
        }
    </div>
</div>
